body {
    margin: 0;
    /* padding: 2%; */
    font-family: Arial, sans-serif;
 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    text-align: center;
}

.container {
    width: 90%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.arrow {
    font-size: 1.5rem; /* Tamanho grande */
    font-weight: bolder; /* Deixar mais espesso */
    color: #ff6347; /* Cor vibrante */
    cursor: pointer;
  }
  
  .up {
    color: rgb(0, 23, 128); /* Personalize a seta para cima */
  }
  
  .down {
    color: red; /* Personalize a seta para baixo */
  }
  
@media (max-width: 600px) {
    th, td {
        font-size: 14px;
        padding: 8px;
    }

    p {
        font-size: 16px;
    }
}
