<div class="table">

    <body>
        <header>
            <nav class="nav">
                <a class="nav-link active" aria-current="page" [routerLink]="'/user-table'"
                    routerLinkActive="active">Normal Table</a>
                <a class="nav-link" href="#">Signal Table</a>
                <a class="nav-link" href="#">Observable Table</a>
            </nav>



        </header>
        <main><router-outlet /></main>

        <footer>
            <p>&copy; 2025 My Java and Angular Projects | Develop by  Tony Filho <a href="https://github.com/Tonyfilho">My GitHub</a></p>
        </footer>

    </body>


</div>