<div class="local-table">

    <body>
        <header>
            <nav class="nav">
                <a class="nav-link active" aria-current="page" routerLink="/user-table"
                    routerLinkActive="active">Normal Table</a>
                <a class="nav-link"  routerLink="/signal-table">Signal Table</a>
                <a class="nav-link"  routerLink="/observable-table">Observable Table</a>
            </nav>



        </header>
        <main><router-outlet /></main>

        <footer>
            <p>&copy; Started 7/1/2020 until... {{ this.dateTime.toLocaleString()  }}. My Java and Angular Projects | Develop by  Tony Filho <a href="https://github.com/Tonyfilho">My GitHub</a></p>
        </footer>

    </body>


</div>