<div class="start">
    <div class="container">
        <p>By Tony Filho</p>

        <table>
            <thead>

                <tr>
                    @for (column of this.columns; track $index) {
                    <th (click)="this.sortArrowTable(column)">{{ this.capitalizer(column) }} @if (isArrowUp(column)) {<span class="arrow up">↓</span>} @if (isArrowDown(column)) {<span class="arrow down">↑</span>} 
                    </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (user of this.user | async; track $index) {
                <tr>
                    @for (column of this.columns; track $index) {

                    <td> {{ user[column] }} </td>
                    }

                </tr>

                }

            </tbody>
        </table>

    </div>

</div>